body{
    background-image: url(images/library-dark.jpg);
}


.books{
   
    background-color: white;
    color: black;
    margin-bottom: 20px;
    display: block; 
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;    
}

.likeabutton {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.filter{
    display:block;
    margin:0 auto;
    color:white;
}
form {
    display: inline-block;
}